@import url("fonts.css");

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ebebd4;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  cursor: url("cursor.png"), auto !important;	
  color: black;
  font-family: 'LexiconNo2';
}

h1 {
  font-size: 3em;
}

::selection{
  background-color: rgba(253, 196, 170, 0.637);
}

.App-header {
  padding: 5px 10px 5px 20px; /*top right bottom left*/
  margin-bottom: 20px;
  background-color: #7a4343;
  max-height: 40vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.td-entry{
  padding: 10;
  border: 1px solid #000;
}


a {
  color:inherit !important;
  text-decoration: none !important;
  font-style: italic;
  cursor: url('hovercursor.png'), auto;
}