@import url("fonts.css");

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #5385be;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  cursor: url("cursor.png"), auto !important;	
  color: white;
  font-family: 'LexiconNo2';
}

h1 {
  font-size: 3em;
}

::selection{
  background-color: rgba(253, 196, 170, 0.637);
}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #300000;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.td-entry{
  padding: 10;
  border: 1px solid #000;
}
