@import url("fonts.css");

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.App {
  display: grid;
  grid-template-areas: 'header'
                       'main';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white; /*#ebebd4*/
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  cursor: url("cursor.png"), auto !important;	
  color: black;
  font-family: 'Untitled Sans';
}

h1 {
  font-size: 3em;
}

::selection{
  background-color: black; /*rgba(253, 196, 170, 0.637)*/
}

.App-header {
  grid-area: header;
  padding: 5px 10px 5px 20px; /*top right bottom left*/
  background-color: black; /*#7a4343*/
  height: 10vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

/*.td-entry{
  padding: 10;
  border: 1px solid #000;
}*/


a {
  color:inherit !important;
  text-decoration: none !important;
  font-style: italic;
  cursor: url('hovercursor.png'), auto;
}