@import url("fonts.css");

.buttonX, button {
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 0px !important;
    color: white;
    cursor: url("hovercursor.png"), auto !important;
}

button:hover {
    background-color: white !important;
    border-radius: 0px !important;
    color: black !important;
    
}


.editorModal {
    background-color: black;
    border: white;
    border-radius: 0px !important;
}

.tdl, tr {
    text-align: justify;
    min-height: 100vh;
    font-family: 'Untitled Sans';
    color: white;
}

h1 {
    font-size: 3em !important;
  }

::placeholder {
    color: white;
    text-decoration: underline;
}

.selectorPlaceholder {
    color: white !important;
    text-decoration: underline !important;
}

input[type=text] {
      background-color: transparent !important;
      color: white;
      height: 2.5em;
      display: inline-block;
      min-width:50px !important;
      cursor: url("hovercursor.png"), auto !important;
      border: none !important;
  }

input[type=date] {
    background-color: transparent !important;
    color: white;
    height: 2.5em;
    width: 9em;
    cursor: url("hovercursor.png"), auto !important;
    text-decoration: underline !important;
    border: none !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: url("hovercursor.png"), auto !important;
}

input:focus {
    outline: none;
  }

select {
    background-color: transparent !important;
    color: white;
    height: 2.5em;
    cursor: url("hovercursor.png"), auto !important;
    text-decoration: underline !important;
    border: none !important;
}

select:disabled {
    text-decoration: underline !important;
}

button:focus {outline:0 !important;}

Button:focus {outline:0;}

button:active {
    outline: none !important;
    border: none;
    }

Button:active {
    outline: none;
    border: none;
    }

.tdlist {
    width: 50vw !important;
}