@import url("fonts.css");

.buttonX, button {
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 0px !important;
    color: white;
}

.tdl, tr {
    text-align: justify;
    border: 1px solid black;
    
    min-height: 100vh;
    min-width: 100vw;

    font-family: 'Untitled Sans';
    color: white;
}

table {
    border: 1px solid black;
}


h1 {
    font-size: 3em !important;
  }



  input[type=text] {
      background-color: transparent !important;
      color: white;

  }

  input[type=date] {
    background-color: transparent !important;
    color: white;
}


input:focus {
    outline: none;
  }



.editorModal {
    background-color: black;
    border: white;
}