.formInput {
    width: 70vw !important;
    height: 17vh;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    h1 {
        
        font-size: calc(1.7rem + 1.5vw);
    
    };

    button {
        display: block;
        float: right;
    };
}

.tdlist {
    min-height: 73vh !important;
    margin:0;
    padding:0;
    width: 70vw !important;
    margin: 0px !important;
    border-right: 1px solid black !important;
    h2 {
    padding: 1em !important;
    font-size: 1.45rem;
    };
    .tdl {height:66vh;border-right: none !important;};
    tr {height:50px; overflow:auto; max-height:100px;};
    .tdl, tr {
        font-size: 1.15rem;
        text-align: justify;
        font-family: 'Untitled Sans';
        color: black;
        border: 1px solid black;
        border-right: none !important;
    }
    
    th, td {
        padding: 15px;
      }
}

.search {

    font-size: 2rem;

    hr {
        border: 0;
        height: 1px;
        background: black;
        width: 100%;
    };

    li {
        font-size: 1.5rem !important;
        text-align: justify;
    };
}